"*":
  core:
    excludeVcsIgnoredPaths: false
    projectHome: "/Users/cnelson/repos"
    telemetryConsent: "no"
  editor:
    tabType: "soft"
  "exception-reporting":
    userId: "d6bd1dee-92b3-7b41-4709-415cb69fd503"
  welcome:
    showOnStartup: false
