"*":
  core:
    projectHome: "/Users/cnelson/repos"
    telemetryConsent: "no"
  editor:
    fontSize: 17
    tabType: "soft"
  "exception-reporting":
    userId: "d6bd1dee-92b3-7b41-4709-415cb69fd503"
  linter: {}
  "linter-rubocop":
    command: "/Users/cnelson/.rbenv/shims/rubocop"
    disableWhenNoConfigFile: true
  welcome:
    showOnStartup: false
